.template_colorPicker{ background:url("img/colorPicker.png") top left no-repeat; }

.tcpk_close{  background-position: -72px -2px !important;
  width: 35px;
  height: 35px;}
.tcpk_back{
    background-position: 3px -8px !important;
  width: 30px;
  height: 26px; }
.tcpk_add{background-position: -148px 0px !important;
  width: 54px;
  height: 50px;}
.tcpk_info{background-position: 0px 0px !important;width: 20px;height: 20px; }
