@import url('template.css');
.custom_modal {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	z-index: 5000;
}

.custom_modal .mainContainer{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 65px;
}
.custom_modal .veil{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #212121;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.custom_modal .w100 {
  width: 100%;
}
.custom_modal .column {
  position: relative;
  float: left;
  height: 200px;
}

.custom_modal .column .container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px #787878;
  box-shadow: 1px 1px 1px 1px #787878;
}

.custom_modal .column .container .data {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}



.custom_modal .Header {
	position: relative;
	top: 0px;
	width: 100%;
	height: 60px;
	background: #D7D7D7;
	z-index: 1;
	-webkit-box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
-moz-box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
}
.custom_modal .Header .label{
	  position: absolute;
	top: 18px;
	left: 60px;
	color: #7B7D7F;
	font-size: 130%;

}
.custom_modal .Header .icon{
	  position: absolute;
	top: 17px;
	left: 12px;
}
.custom_modal .titles{
	position: relative;
	top:0px;
	width:100%;
	height: 35px;
	background: #F2F2F2;
}

.custom_modal .newRecord .label{
	position: absolute;
	top:0px;
	left: 10px;
}
.custom_modal .iconAdd{
	  position: absolute;
  top: 37px;
  right: 10px;
  z-index: 1;
}
.custom_modal .formRecords{
	position: absolute;
	width:100%;
	top:0px;
	bottom: 0px;
	background: #fff;
	z-index: 2;
}
.custom_modal .iconClose{
	  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
.custom_modal .formRecords .fields{
	position: absolute;
	top:60px;
	width:100%;
	bottom: 0px;
	z-index: 0;
}
.custom_modal .dataRecords{
	position: absolute;
	top:60px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
	padding-top: 20px;
}