 /*Contenedor de la imagen de Escala*/
  #bg {
    position: fixed; 
    top: 40px; 
    left: 20px; 
    width: 100%; 
    height: 50%;
    z-index: -1;
    /*border: 5px solid #ccc;*/
    display: inline-block;
  }

  /*Imagen de Escala*/
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 725px;
    height: 800px;
  }

  /*div con Imagen de Encabezado*/
  div.pageHeader{
    position: fixed;
    top: 0 no-repeat;
    margin-top: 0cm;
    margin-left: -0.10cm;
    /*border: 5px solid #ccc;*/
    display: inline-block;
  }

  /*Imagen de Probosque*/
  #head img{
    width:750px; 
    height:80px;
  }

  /*div con Imagen de la Rosa de los Vientos*/
  div.pageWind{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 3.5cm;
    margin-left: 2cm;
    display: inline-block;
  }

  /*Imagen de Rosa de los Vientos*/
  #wind img{
    width:100px;
    height:169px;
  }

  /*div con Imagen de Region*/
  div.pageRegion{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 18.5cm;
    margin-left: 6.2cm;
    display: inline-block;
  }

  /*Imagen de Region*/
  #region img{
    width: 190px;
    height: 190px;
  }

  /*div contenedor de region, imagen y fecha*/
  div.pageContorno{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 17.7cm;
    margin-left: 6cm;
    border: 2px solid #000000;
    width: 515px;
    height: 233px;
    display: inline-block;
  }

  /*div del texto*/
  div.pageContorno2{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 17.7cm;
    margin-left: 11.4cm;
    /*border: 2px solid #00FF00;*/
    width: 312px;
    height: 203px;
    overflow: hidden;/* "overflow" value must be different from "visible" */ 
    text-overflow: ellipsis;
    display: inline-block;
  }
  
  /*div de la fecha*/
  div.pageContorno3
  {
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 23.3cm;
    margin-left: 11.4cm;
    display: inline-block;
    /*border: 2px solid #0404B4;*/
    width: 312px;
    height: 20px;
  }

  div.pageContorno4
  {
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 17.7cm;
    margin-left: 0cm;
    border: 2px solid #000000;
    width: 200px;
    height: 233px;
    display: inline-block;
  }

  div.pageFoot
  {
    position: fixed;
    top: 0 no-repeat;
    margin-top: 24.5cm;
    margin-left: 0.1cm; 
    display: inline-block;
  }

  #contorno p{
    text-align: left;
    margin-left: 1.4cm;
    margin-top: 0.3cm;
  }

  #contorno2 p{
    text-align: left;
    margin-left: 0.1cm;
    margin-top: 0.1cm;
     /*font-family: "Times New Roman", Times, serif;
     font-size: 14px;*/
  }

  #contorno3 p{
    text-align: right;
    margin-right: 0.1cm;
    margin-top: 0.1cm;
  }

  #contorno4 p{
    text-align: left;
    margin-left: 1.2cm;
    margin-top: 0.3cm;
    /*font-size: 13px;*/
  }

  div.cube1{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: .1cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
    background: #40FF00;
  }

 #cube1 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  div.cube2{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: .9cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #cube2 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  div.cube3{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 1.7cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #cube3 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  div.cube4{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 2.5cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #cube4 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  div.cube5{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 3.3cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #cube5 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  div.cube6{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 4.1cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #cube6 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: 0cm;
    /*font-size: 13px;*/
 }

  #exportedImage{
    margin-left: 1.8cm;
    margin-top: 3.8cm;
    width: 620px;
    height: 440px;
}
  #smallmap{

    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
  }

  div.cubeImg1{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: .1cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
    /*background: #40FF00;*/
  }

  #s1 img{
    width: 15px;
    height: 15px;
  }

  #s1 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
  }

  div.cubeImg2{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: .9cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
    /*background: #40FF00;*/
  }

  #s2 img{
    width: 15px;
    height: 15px;
  }

  #s2 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
 }

 div.cubeImg3{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 1.7cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #s3 img{
    width: 15px;
    height: 15px;
  }

  #s3 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
 }

 div.cubeImg4{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 2.5cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #s4 img{
    width: 15px;
    height: 15px;
  }

  #s4 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
 }

 div.cubeImg5{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 3.3cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #s5 img{
    width: 15px;
    height: 15px;
  }

  #s5 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
 }

   div.cubeImg6{
    position:absolute; 
    z-index:2;
    top: 0 no-repeat;
    margin-top: 4.1cm;
    margin-left: 0.5cm;
    display: inline-block;
    /*border: 2px solid #000000;*/
    width: 15px;
    height: 15px;
  }

  #s6 img{
    width: 15px;
    height: 15px;
  }

  #s6 p{
    text-align: left;
    margin-left: .7cm;
    margin-top: -.5cm;
    /*font-size: 13px;*/
 }